@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to my stylized site :)";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my stylized site</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
